<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>367821490488-jf38p0v571jml774j0qro5qufc2ek4ql.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.367821490488-jf38p0v571jml774j0qro5qufc2ek4ql</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>367821490488-lnmkf0crlcbvu7fg1vell56nqr2k7ig3.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyANK6fSAYTYcCGCME7TqxO9Cxkjr22fM2E</string>
	<key>GCM_SENDER_ID</key>
	<string>367821490488</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.soumayla.myapp00</string>
	<key>PROJECT_ID</key>
	<string>campino-93621</string>
	<key>STORAGE_BUCKET</key>
	<string>campino-93621.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:367821490488:ios:e75f8a602fabc8143f59cd</string>
</dict>
</plist>